.footer {
    background-color: #18181C;
    padding-bottom: 60px;
}

.footer .footerLinks ul li {
    color: #A9A9A9;
    font-size: 14px;
}

.footer .footerLinks h3 {
    font-size: 20px;
}

.footer .footerLinks ul li:hover {
    color: #ffffff;
    font-size: 14px;
}

.footer .container02 .footerLinks h3 {
    margin-bottom: 20px;
}

.footer .container02 .footerLinks li a {
    margin-bottom: 20px;
}

.footer .socials svg {
    fill: #A9A9A9;
    width: 24px;
    height: 24px;
}

.footer .socials svg:hover {
    fill: #ffffff;
    width: 24px;
    height: 24px;
}

.footer .socials {
    display: flex;
    align-items: center;
    gap: 15px;
}

.footer .socialLinks a svg {
    fill: white;
    width: 50px;
    height: 50px;
}

.footer .socialLinks {
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    margin-left: 100px;
    margin-right: 100px;
    padding-top: 60px;
    padding-bottom: 30px;
    border-bottom: 1px solid #343437;
}

.footer .copyright {
    color: #A9A9A9;
    font-size: 12px;
    max-width: 748px;
}

.footer .bottomSecFoot ul {
    display: flex;
    gap: 20px;
    margin-top: 40px;
}

.footer .bottomSecFoot ul li:hover {
    color: white;

}

.footer .bottomSecFoot {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-right: 100px;
    margin-left: 100px;
    padding-top: 30px;
    border-top: 1px solid #343437;
}

.footerbutton {
    font-size: 14px;
    display: flex;
    align-items: center;
    background-color: #3A3A3E;
    padding-left: 15px;
    padding-right: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
    color: white;
}

.footerbutton:hover {
    background-color: #5d5d63;
}

.footer .bottomSecFoot .buttonFooter svg {
    fill: white;
    width: 20px;
    height: 20px;
    margin: 8px;
}