

.GT5 .box {
    color: white;
}

.GT5 .box p {
    color: #A9A9A9;
    font-size: 12px;
    margin-top: 16px;
    margin-bottom: 16px;
}

.GT5 .box a img {
    margin-bottom: 20px;
    display: flex;
    border-radius: 6px;
}

.GT5 .box p {
    color: #A9A9A9;
    font-size: 12px;
    margin-top: 16px;
    margin-bottom: 35px;
}

.GT5 .box a img {
    margin-bottom: 20px;
    display: flex;
    border-radius: 6px;
}

.GT5 .container .box .bottom{
    display: flex;
    align-items: end;
    color: white;
    font-size: 14px
}

.GT5 .box .sale-info .sale-discount {
    margin-right: 5px;
    background-color: #26BBFF;
    padding: 5px;
    padding-top: 0px;
    padding-bottom: 0px;
    border-radius: 20px;
    color: black;
}

.GT5 .box .sale-info .sale-old-price {
    color: #A9A9A9;
    text-decoration: line-through;
    margin-right: 5px;
}

.GT5 .box .sale-info .price {
    color: white;
}

.GT5 .browseButton h3{
margin-bottom: 20px;
}