.mainImage {
    grid-column: span 9;
}

.mainImage .heroimage {
    width: 100%;
    height: 510px;
    border-radius: 8px;
}

.sidebarhover {
    grid-column: span 3;
    padding-left: 10px;
    padding-top: 10px;
}

.sidebaritem {
    display: flex;
    align-items: center;
    height: 80px;
    padding: 8px;
    margin-bottom: 5px;
    border-radius: 4px;
}

.sidebaritem:hover {
    background-color: #2a2a2a;
}

.sidebaritem img {
    width: 60px;
    height: 70px;
    border-radius: 4px;
    margin-right: 8px;
}

.sidebaritem p {
    color: white;
    font-size: 12px;
    margin: 0;
}


.navrow {
    display: flex;
    gap: 20px;
    align-items: center;
    padding: 15px 0 25px 0;
    grid-column: span 12;
}

.navrow .navlink {
    font-size: 14px;
}


.searchcontainer {
    display: flex;
    align-items: center;
    background-color: #2a2a2a;
    padding: 8px 12px;
    border-radius: 20px;
    width: 250px;
}

.searchicon {
    color: #A9A9A9;
    margin-right: 8px;
    font-size: 16px;
}

.searchinput {
    background: transparent;
    border: none;
    color: white;
    font-size: 16px;
    width: 100%;
}

.toplinks {
    display: flex;
    gap: 25px;
}

.navlink {
    color: #A9A9A9;
    font-weight: 500;
    padding: 5px;
}

.navlink:hover {
    color: white;
}