.panelLBY {
    background-color: rgb(11, 31, 122);
    border: 1px solid rgb(255, 0, 0);
    padding: 10px;
}
.panelLBY img {
    width: 100%;
    
}

.panelLBY h3 {
    margin: 10px 0px 10px 0px;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
}
.panelLBY p {
    margin: 10px 0px 10px 0px;
    font-size: 16px;
    font-weight: 400;
}
.lby {
    display: flex;
    gap: 12px;
    width: 800px;
}
body {
    padding-left: 100px;
}